@page "{id:int}"
@model Identity.Pages.Admin.ApiScopes.DeleteModel
@{
    ViewData["Title"] = "Delete API Scope";
}

<h1>Delete API Scope</h1>
<p>Are you sure you want to delete <strong>@Model.Scope.Name</strong>?</p>

<form method="post">
    <button id="delete-submit" type="submit" class="btn btn-danger">Delete</button>
    <a asp-page="./Index" class="btn btn-outline-secondary">Cancel</a>
</form>
