@model IList<ClaimTypeRow>
@{
    var cancelHref = ViewData["CancelHref"]?.ToString();
}
<form method="post" data-collection-form>
    <table class="table table-bordered table-sm" data-collection="ClaimTypes">
        <thead class="table-light">
            <tr><th>Type</th><th></th></tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Count; i++)
            {
                <tr data-row>
                    <input type="hidden" name="ClaimTypes[@i].Id" value="@Model[i].Id" />
                    <td><input class="form-control form-control-sm" name="ClaimTypes[@i].Type" value="@Model[i].Type" aria-label="Claim type" /></td>
                    <td><button class="btn btn-sm btn-danger" data-remove-row>Remove</button></td>
                </tr>
            }
        </tbody>
    </table>
    <template data-for="ClaimTypes">
        <tr data-row>
            <input type="hidden" name="ClaimTypes[-1].Id" value="0" />
            <td><input class="form-control form-control-sm" name="ClaimTypes[-1].Type" aria-label="Claim type" /></td>
            <td><button class="btn btn-sm btn-danger" data-remove-row>Remove</button></td>
        </tr>
    </template>
    <button id="btn-add-row" type="button" class="btn btn-sm btn-outline-secondary mb-3" data-add-for="ClaimTypes">Add</button>
    <div>
        <button id="save-submit" type="submit" class="btn btn-primary">Save</button>
        <a href="@cancelHref" class="btn btn-outline-secondary">Cancel</a>
    </div>
</form>
