@page "{id:int}"
@model Identity.Pages.Admin.IdentityResources.DeleteModel
@{
    ViewData["Title"] = "Delete Identity Resource";
}

<h1>Delete Identity Resource</h1>
<p>Are you sure you want to delete <strong>@Model.Resource.Name</strong>?</p>

<form method="post">
    <button id="delete-submit" type="submit" class="btn btn-danger">Delete</button>
    <a asp-page="./Index" class="btn btn-outline-secondary">Cancel</a>
</form>
