@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    @if (Model.ShowLogoutPrompt)
    {
        <form asp-page="/Account/Logout" asp-route-logoutId="@Request.Query["logoutId"]" method="post">
            <button type="submit" class="nav-link btn btn-link text-dark">Click here to Logout</button>
        </form>
    }
    else
    {
        <p>You have successfully logged out of the application.</p>
        @if (!IsNullOrWhiteSpace(Model.PostLogoutRedirectUri))
        {
            <a href="@Model.PostLogoutRedirectUri">Click here to return to the application</a>
        }
        @if (!IsNullOrWhiteSpace(Model.SignOutIframeUrl))
        {
            <iframe width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
        }
    }
</header>
