@page
@model Identity.Pages.RedirectModel
@{
    ViewData["Title"] = "Redirecting";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

</head>
<body>
    <p>Redirecting to <a href="@Model.RedirectUri">@Model.RedirectUri</a>&hellip;</p>
    @if (Model.RedirectUri != null)
    {
        <script>
            window.location.replace('@Html.Raw(Model.RedirectUri)');
        </script>
    }
</body>
</html>
