@page
@model GrantTypesModel

@{
    ViewData["Title"] = "Edit Client Grant Types";
}

<h1>Edit Client Grant Types</h1>

<form method="post">
    <table class="table table-bordered table-sm" id="grants-table">
        <thead class="table-light">
            <tr>
                <th>Grant Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.GrantTypes.Count; i++)
            {
                <tr>
                    <td>
                        <input type="hidden" name="GrantTypes[@i].Id" value="@Model.GrantTypes[i].Id" />
                        <input name="GrantTypes[@i].GrantType" value="@Model.GrantTypes[i].GrantType" class="form-control form-control-sm" />
                    </td>
                    <td>
                        <button type="button" class="btn btn-sm btn-danger remove-row">Remove</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <button id="btn-add-row" type="button" class="btn btn-sm btn-outline-secondary mb-3">Add</button>

    <template id="row-template">
        <tr>
            <td>
                <input type="hidden" name="GrantTypes[__index__].Id" value="0" />
                <input name="GrantTypes[__index__].GrantType" class="form-control form-control-sm" />
            </td>
            <td>
                <button type="button" class="btn btn-sm btn-danger remove-row">Remove</button>
            </td>
        </tr>
    </template>

    <div>
        <button id="save-submit" type="submit" asp-route-id="@Model.Client.Id" class="btn btn-primary">Save</button>
        <a asp-page="/Admin/Clients/Details/GrantTypes" asp-route-id="@Model.Client.Id" class="btn btn-outline-secondary ms-1">Cancel</a>
    </div>
</form>

@section Scripts {
    <script src="~/js/admin-collection.js"></script>
}
