@page "{id}"
@model Identity.Pages.Admin.Roles.DeleteModel

@{
    ViewData["Title"] = "Delete Role";
}

<h1>Delete Role</h1>

<div class="alert alert-danger">
    <p>Are you sure you want to delete role <strong>@Model.AppRole.Name</strong>?</p>
</div>

<form method="post">
    <button id="delete-submit" type="submit" class="btn btn-danger">Delete</button>
    <a asp-page="./Details/Index" asp-route-id="@Model.AppRole.Id" class="btn btn-secondary">Cancel</a>
</form>
